/* Empty file for template. Remember to edit only this file and not the HTML file */

header{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 50px;
    margin-bottom: 1250px;
}

#zen-intro{
    display: flex;
    flex-direction: column;
    background-image: url(dna.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    
}


.page-wrapper{
  border: 1px solid;
  padding: 100px;
  margin: 100px;
  background-color: #D2D4BC;

}


h1{
  display: flex;
  font-size: xxx-large;

}

h2{
  display: flex;
  font-size: x-large;
}

h3{
  display: flex;
  font-size: x-large;
}

a:link{
  color: rgb(188, 141, 70);
}

a:visited{
  color: rgb(188, 141, 70);
}

.summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
}


body{
    display: flex;
    background-color: lightblue;
    background-image: url(cherry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

.preamble{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
  font-size: large;
}
  .explanation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }

  .participation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }

  .benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }

  .requirements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }

  .design-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
    
  }

  .design-archives{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }
  
  .zen-resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }

  footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: large;
  }

  .sidebar{
    background-image: url(Tree_with_root.jpg), url(Tree_with_root.jpg);
    background-repeat: no-repeat;
    background-size: 500px, 500px;
    background-position: 50px, 1050px;
    mix-blend-mode: multiply;
    font-size: large;
  }

footer:nth-of-type(1) {
  background-color: antiquewhite;
  margin: 50px;
}

::selection{
  color: rgb(225, 255, 0);
  background-color: red;
}

:root {
  background-color: rgb(200, 162, 162);
  padding: 30px;
}

*{
  color: rgb(176, 122, 122);
}

p.intro{
  color: white;
}

div p{
  color: rgb(225, 133, 133);
}

a:active {
  background-color: rgb(168, 168, 209);
}

a:hover {
  background-color: pink;
}